<div id="pageInfo" data-title="商品搜索"></div>

{set:$defaultWhere = array('search' => $this->word, 'category_extend' => $this->cat_id)}
{set:$goodsObj = search_goods::find($defaultWhere,10);$resultData = $goodsObj->find();}
{if:$resultData}
<aside class="goods_sort">
    {foreach:items=search_goods::getOrderType()}
    <span class="sort_btn" onclick="gourl('{echo:search_goods::searchUrl(array('order','by'),array($key,search_goods::getOrderBy($key)))}')">{$item}</span>
    {/foreach}
</aside>
<section class="goods_list">
    <ul>
        {foreach:items=$resultData}
        <li>
            <a href="{url:/site/products/id/$item[id]}">
                <i class="photo"><img class="goods_photo" src="{url:/pic/thumb/img/$item[img]/w/200/h/200}" alt="{$item['name']}"></i>
                <h3 class="name"><strong>{$item['name']}</strong></h3>
                <del class="price">{$item['point']}积分</del>
            </a>
        </li>
        {/foreach}
    </ul>
</section>
{$goodsObj->getPageBar()}
{else:}
<section class="no_tip">搜索结果为零</section>
{/if}

<script>
$(function(){
    // 隐藏底部导航
    hideNav();

    // 切换导航样式
    var order    = getUrlParam("order");
    var by       = getUrlParam("by");
    var sortBtn  = $(".goods_sort").children('.sort_btn');
    var iconDown = '<i class="fa fa-angle-down"></i>';
    var iconUp   = '<i class="fa fa-angle-up"></i>';
    var conf     = {"sale":0,"cpoint":1,"price":2,"new":3};
    sortBtn.eq(conf[order]).addClass('on').append(by == "desc" ? iconDown : iconUp);
});
</script>
